<form method="GET">
    <label>
        Zeit von
        <input type="datetime-local"
               name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_DATETIME_START') }}"
               value="{{ requestValues[constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_DATETIME_START')] }}">
    </label>
    <label>
        Zeit bis
        <input type="datetime-local"
               name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_DATETIME_END') }}"
               value="{{ requestValues[constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_DATETIME_END')] }}">
    </label>
    <label>
        Logger
        <input type="text"
               name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_LOGGER') }}"
               value="{{ requestValues[constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_LOGGER')] }}">
    </label>
    <fieldset>
        <label>
            Error
            <input type="checkbox"
                   name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_LEVEL') }}[]"
                   value="ERROR">
        </label>
        <label>
            Warning
            <input type="checkbox"
                   name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_LEVEL') }}[]"
                   value="WARNING">
        </label>
        <label>
            Notice
            <input type="checkbox"
                   name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_LEVEL') }}[]"
                   value="NOTICE">
        </label>
        <label>
            Info
            <input type="checkbox"
                   name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_LEVEL') }}[]"
                   value="info">
        </label>
        <label>
            Debug
            <input type="checkbox"
                   name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_LEVEL') }}[]"
                   value="DEBUG">
        </label>
    </fieldset>
    <label>
        Message (like search)
        <input type="text"
               name="{{ constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_MESSAGE') }}"
               value="{{ requestValues[constant('Agentur1601com\\LogView\\Controller\\IndexController::REQUEST_KEY_MESSAGE')] }}">
    </label>
    <button type="submit">Search</button>
</form>
