<div class="log-view_entry">
    {{ entry.date }}
    {{ entry.logger }}
    {{ entry.level }}
    {{ entry.message }}
</div>
<div class="hidden">
    {{ entry.context }}
    {{ entry.extra }}
</div>
